{
  "env": {
    "es6": true
  },
  "extends": ["airbnb", "plugin:react/jsx-runtime"],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "overrides": [
    {
        "files": ["*.ts"],
        "rules": {
            "no-undef": "off"
        }
    }
  ],
  "globals": {
    "JSX": true
  },
  "rules": {
    "no-unused-vars": "off",
    "no-underscore-dangle": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "no-shadow": "warn",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "padded-blocks": "off",
    "lines-between-class-members": "off",
    "max-classes-per-file": 0,
    "import/no-extraneous-dependencies": "off",
    "no-useless-escape": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/label-has-associated-control": "off"
  }
}
