.tab {
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
  font-size: $medium-text-size;
  border: none;
  background-color: $picker-white;
  outline: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    @include bottom-line;
    background-color: $picker-text-dark-color-10;
  }
}

.tabActive {
  color: $picker-accent-color;
  background-color: $picker-accent-color-10;
  text-decoration: underline;
  cursor: default;
  box-shadow: inset 0 -2px 0 0 $picker-accent-color;
}
