.title {
  margin: 0;
  margin-bottom: 20px;
  color: $picker-accent-color;
}

.pickerWrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 3px;
  min-height: 40px;
}

.quickButton {
  position: relative;
}

.quickModal {
  z-index: 10;
  width: 400px;
  position: absolute;
  left: 105%;
  transform: translateY(-50%);
}

.prettyFormatWrapper {
  min-width: 400px;
  display: flex;
  border-radius: 4px;
}

